<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
</head>
<body>

<!-- Navigation -->
<div class="home_wallpaper">
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<img src="{% static 'img/logo.png' %}" width="75">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'resume' %}">Resume</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Apps</a>
			</li>
		</ul>
	</div>
</div>
</nav>
<div class="centered">
	<h1>Max Post</h1>
	<h3>Developer. Biohacker.</h3>
</div>
</div>



<!--- Three Column Section -->
<div class="container-fluid">
		<div class="row text-center built_by">
			<div class="col-xs-6 col-sm-2 col-md-2">
			<i class="fab fa-python"></i>
			<p>Python</p>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2">
			<i class="fab fa-dyalog"></i>
			<p>Django</p>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2">
			<i class="fas fa-code"></i>
			<p>HTML</p>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2">
			<i class="fas fa-bold"></i>
			<p>Bootstrap</p>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2">
			<i class="fab fa-css3"></i>
			<p>CSS</p>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2">
			<i class="fab fa-github"></i>
			<p>Github</p>
		</div>
	</div>
</div>

<!--- Biohacking -->
<div class="container-fluid padding">
	<div class="row padding biohacker_wallpaper">
		<div class="col-md-12 col-lg-8">
			<h2>Biohacking</h2>
			<hr>
			<p>Biohacking ist mein neustes Hobby. Nachdem ich versuche Computersystem zu optimiern und ich
				mich sowieso für Ernährung ineressier ist die Möglichkeit seinen körper zu optimiern der nächste Schritt.
				dabei verhält sich das Biohacking ähnlich zum Optimieren normaler Syteme. Mann muss die Prozesse verstehen und
				Biohacking ist mein neustes Hobby. Nachdem ich versuche Computersystem zu optimiern und ich
				mich sowieso für Ernährung ineressier ist die Möglichkeit seinen körper zu optimiern der nächste Schritt.
				dabei verhält sich das Biohacking </p>
				<br>
				<a href="#" class="btn btn-outline-light"> Learn More!</a>
		</div>
		<div class="col-md-12 col-lg-4">
			<img src="{% static 'img/biohacker_wp_sw.jpg' %}" class="img-responsive rounded">
		</div>
	</div>
</div>

<div class="container-fluid bg-dark quote_home">
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2">
		<i class="fas fa-quote-right"></i>
		</div>
		<div class="col-xs-6 col-sm-9 col-md-8">
		<h4>Your time is limited, so don't waste ist living someone else's life.</h4>
		<p>Steve Jobs</p>
		</div>
		<div class="col-xs-0 col-sm-0 col-md-2">
		</div>
	</div>
</div>

<!--- Data Science -->
<div class="container-fluid padding">
	<div class="row padding developer_wallpaper">
		<div class="col-md-12 col-lg-4">
			<img src="{% static 'img/datascience_wp_sw.jpg' %}" class="img-responsive rounded">
		</div>
		<div class="col-md-12 col-lg-8">
			<h2>Data Sience</h2>
			<hr>
			<p>Biohacking ist mein neustes Hobby. Nachdem ich versuche Computersystem zu optimiern und ich
				mich sowieso für Ernährung ineressier ist die Möglichkeit seinen körper zu optimiern der nächste Schritt.
				dabei verhält sich das Biohacking ähnlich zum Optimieren normaler Syteme. Mann muss die Prozesse verstehen und
				Biohacking ist mein neustes Hobby. Nachdem ich versuche Computersystem zu optimiern und ich
				mich sowieso für Ernährung ineressier ist die Möglichkeit seinen körper zu optimiern der nächste Schritt.
				dabei verhält sich das Biohacking</p>
				<br>
				<a href="#" class="btn btn-outline-light"> Learn More!</a>
		</div>
	</div>
</div>
<!--- Footer -->
<footer class="bg-dark">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-12 footer-social">
				<h3>Stay Connected</h3>
				<hr>
				<a href="https://www.linkedin.com/in/maximilian-post-282354122"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.xing.com/profile/Maximilian_Post3"><i class="fab fa-xing-square"></i></a>
				<a href="https://www.github.com/maxpost"><i class="fab fa-github-square"></i></a>
				<a href="https://www.datacamp.com/profile/maxpost"><i class="fab fa-odnoklassniki-square"></i></a>
			</div>
			<div class="col-md-12 footer-mail">
				<hr>
				<p>max.post.data.analytics@gmail.com</p>
			</div>
		</div>
	</div>
</footer>
