<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<img src="{% static 'img/logo.png' %}" width="75">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'resume' %}">Resume</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Apps</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!--- Einleitung -->
<div class="container-fluid intro_resume">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 intro_resume_img">
			<img src="{% static 'img/profil.jpg' %}" class="rounded-circle" width="200">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="padding-left:20px;padding-right:20px;">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
				eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
				voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
				clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
				amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
				nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
				sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
				rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
				dolor sit amet.</p>
		</div>
	</div>
</div>

<!--- Jumbotron -->


<!--- Welcome Section -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Technology Overview</h1>
		</div>
		<hr>
		<div class="col-12">
			<p class="lead"> Technology has always fascinated me.I want to understand
				why something works and how the different components interact. Because I
				want to learn more about web design, I built this website as an exercise.
				Therefore I wrote the code manually and did not use a graphical tool. The
				following technologies were used for the implementation.</p>
		</div>
		<hr>
	</div>
</div>

<!--- Three Column Section -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-2">
			<i class="fab fa-python"></i>
			<h3>Python</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<i class="fab fa-dyalog"></i>
			<h3>Django</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<i class="fas fa-code"></i>
			<h3>HTML</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<i class="fas fa-bold"></i>
			<h3>Bootstrap</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<i class="fab fa-css3"></i>
			<h3>CSS</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<i class="fab fa-github"></i>
			<h3>Github</h3>
		</div>
	</div>
	<hr class="my-4">
</div>

<!--- Footer -->
<footer class="bg-dark">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-12 footer-social">
				<h3>Stay Connected</h3>
				<hr>
				<a href="https://www.linkedin.com/in/maximilian-post-282354122"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.xing.com/profile/Maximilian_Post3"><i class="fab fa-xing-square"></i></a>
				<a href="https://www.github.com/maxpost"><i class="fab fa-github-square"></i></a>
				<a href="https://www.datacamp.com/profile/maxpost"><i class="fab fa-odnoklassniki-square"></i></a>
			</div>
			<div class="col-md-12 footer-mail">
				<hr>
				<p>max.post.data.analytics@gmail.com</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
