<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#343a40">
	<meta name="apple-mobile-web-app-status-bar-style" content="#343a40">
	<title>Resume</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
	<link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<img src="{% static 'img/logo.png' %}"  width="75">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'resume' %}">Resume</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Apps</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!--- Einleitung -->
<div class="container-fluid intro_resume">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 intro_resume_img">
			<img src="{% static 'img/profil.jpg' %}" class="rounded-circle" width="200">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="padding-left:20px;padding-right:20px;">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
				eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
				voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
				clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
				amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
				nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
				sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
				rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
				dolor sit amet.</p>
		</div>
	</div>
</div>

<!--- Nested -->
<div class="bg-dark" id="accordion">
  <div class="card bg-dark">
    <div class="card-header bg-dark" id="heading-1">
      <h5 class="mb-0">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
          <i class="fas fa-briefcase"></i>  Experience
        </a>
      </h5>
    </div>
    <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
      <div class="card-body">
				<div class="row text-center" style="padding-right:10px;padding-left:10px">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 07/2018 - Heute</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Senior Technical Consultant</p>
								<hr>
								<p>Big Data & Analytics</p>
								<p>NTT DATA Deutschland GmbH</p>
								<p>80807 München</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 10/2016 - 06/2018</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Technical Consultant</p>
								<hr>
								<p>Big Data & Analytics</p>
								<p>NTT DATA Deutschland GmbH</p>
								<p>80807 München</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 09/2013 - 09/2016</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Junior Consultant</p>
								<hr>
								<p>Big Data & Analytics</p>
								<p>it-novum GmbH</p>
								<p>36037 Fulda</p>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
	<div class="card bg-dark">
		<div class="card-header bg-dark" id="heading-2">
			<h5 class="mb-0">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
					<i class="fas fa-graduation-cap"></i> Education
				</a>
			</h5>
		</div>
		<div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
			<div class="card-body">
				<div class="row text-center" style="padding-right:10px;padding-left:10px">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 04/2014 - 05/2016</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Master of Science (M.Sc.)</p>
								<hr>
								<p>Wirtschaftsinformatik</p>
								<p>Durchschnittsnote 1,4</p>
								<p>Universität Würzburg</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 10/2010 - 03/2014</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Bachelor of Science (B.Sc.)</p>
								<hr>
								<p>Wirtschaftsinformatik</p>
								<p>Durchschnittsnote 1,9</p>
								<p>Hochschule Fulda</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 08/2007 - 07/2009</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Fachhochschulreife (FOS)</p>
								<hr>
								<p>Wirtschaftsinformatik</p>
								<p>Durchschnittsnote 2,0</p>
								<p>Handelsschule Herrmann</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="card bg-dark">
    <div class="card-header bg-dark" id="heading-3">
      <h5 class="mb-0">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
          <i class="fas fa-sliders-h"></i> Skills
        </a>
      </h5>
    </div>
    <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
      <div class="card-body">
					    <div class="row text-center resume_details" style="margin-right:20px;margin-left:20px">
								<div class="col-xs-12 col-sm-12 col-md-3">
									<div class"row text-center" style="padding-right:10px;padding-left:10px">
										<div class="col-12">
											<p style="font-size: 1.25em;" class="text-dark">Python</p>
											<hr>
					            <div class="progress blue">
					                <span class="progress-left">
					                    <span class="progress-bar"></span>
					                </span>
					                <span class="progress-right">
					                    <span class="progress-bar"></span>
					                </span>
					                <div class="progress-value">Advanced</div>
					            </div>
					        </div>
								</div>
							</div>
									<div class="col-xs-12 col-sm-12 col-md-3">
										<div class"row text-center" style="padding-right:10px;padding-left:10px">
											<div class="col-12">
											<p style="font-size: 1.25em;" class="text-dark">R</p>
											<hr>
					            <div class="progress yellow">
					                <span class="progress-left">
					                    <span class="progress-bar"></span>
					                </span>
					                <span class="progress-right">
					                    <span class="progress-bar"></span>
					                </span>
					                <div class="progress-value">75%</div>
					            </div>
					        </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3">
								<div class"row text-center" style="padding-right:10px;padding-left:10px">
									<div class="col-12">
										<p style="font-size: 1.25em;" class="text-dark">SQL</p>
										<hr>
									<div class="progress green">
											<span class="progress-left">
													<span class="progress-bar"></span>
											</span>
											<span class="progress-right">
													<span class="progress-bar"></span>
											</span>
											<div class="progress-value">75%</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12">
								<p style="font-size: 1.25em;" class="text-dark">HTML</p>
								<hr>
							<div class="progress pink">
									<span class="progress-left">
											<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
											<span class="progress-bar"></span>
									</span>
									<div class="progress-value">75%</div>
							</div>
					</div>
				</div>
			</div>
					    </div>

			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class"row text-center" style="padding-right:20px;padding-left:20px">
					<div class="col-12 resume_details text-center">
						<div id="SkillBox">
							<p>Branchenwissen</p>
							<hr>
					  	<div class="SkillBar">
					    	<div id="Skill-HTML">
					      	<span class="Skill-Area ">Data Visualization</span>
					      	<span class="PercentText ">100%</span>
					    	</div>
					  	</div>
							<div class="SkillBar">
								<div id="Skill-CSS">
									<span class="Skill-Area ">Machine Learning</span>
									<span class="PercentText ">70%</span>
								</div>
							</div>
						<div class="SkillBar">
							<div id="Skill-jQuery">
								<span class="Skill-Area ">Data Mining</span>
								<span class="PercentText ">40%</span>
							</div>
						</div>
						<div class="SkillBar">
							<div id="Skill-JS">
								<span class="Skill-Area ">Data Warehousing</span>
								<span class="PercentText ">65%</span>
							</div>
						</div>
						<div class="SkillBar">
							<div id="Skill-JS">
								<span class="Skill-Area ">Projektmanagement</span>
								<span class="PercentText ">65%</span>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class"row text-center" style="padding-right:20px;padding-left:20px">
					<div class="col-12 resume_details text-center">
						<div id="SkillBox">
							<p>Tools & Technology</p>
							<hr>
							<div class="SkillBar">
								<div id="Skill-XML">
									<span class="Skill-Area ">JavaScript</span>
									<span class="PercentText ">40%</span>
								</div>
							</div>

								<div class="SkillBar">
								<div id="Skill-C">
									<span class="Skill-Area ">CSS</span>
									<span class="PercentText ">30%</span>
								</div>
							</div>

								<div class="SkillBar">
								<div id="Skill-JAVA">
									<span class="Skill-Area ">Tableau</span>
									<span class="PercentText ">25%</span>
								</div>
							</div>

								<div class="SkillBar">
								<div id="Skill-PHP">
									<span class="Skill-Area ">GitHub</span>
									<span class="PercentText ">50%</span>
									<p>HTML, Predictive Analytics, Analytical Databases, OLAP Concepts, KNIME, Text Mining, Pentaho Suite, MongoDB</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
    </div>
  </div>
	<div class="card bg-dark">
		<div class="card-header bg-dark" id="heading-4">
			<h5 class="mb-0">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
					<i class="far fa-folder-open"></i> Projects
				</a>
			</h5>
		</div>
		<div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
			<div class="card-body">
				<div class="row text-center" style="padding-right:10px;padding-left:10px">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Analysis of the driving and charging <br> behaviour of electric vehicles</p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Automotive | <i class="far fa-clock"></i> 5 Month | <i class="fas fa-users"></i> 5 Members</p>
								<hr>
								<p> Responsible for project management, data cleansing and analysis, dashboarding.</p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> Python, MySQL, Tableau</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Automated assignment of support<br>ticktes via text mining</p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Automotive | <i class="far fa-clock"></i> 5 Month | <i class="fas fa-users"></i> 2 Members</p>
								<hr>
								<p>Responsible for project management, web interface and algorithm development.</p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> Python, Django, Bootstrap</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Prediction of component quality<br>using a decision tree</p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Automotive | <i class="far fa-clock"></i> 3 Month | <i class="fas fa-users"></i> 3 Members</p>
								<hr>
								<p>Responsible for automation, extension and optimization of machine learning scripts.</p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> Python, Oracle, Shell</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Development of a cost calculator<br> for financial products </p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Finance | <i class="far fa-clock"></i> 6 Month | <i class="fas fa-users"></i>12 Members</p>
								<hr>
								<p>Responsible for the data model and development of ETL routines.<p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> Postgres, Oracle, Informatica PowerCenter</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Connecting new capital<br>management companies to DWH</p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Finance | <i class="far fa-clock"></i> 3 Month | <i class="fas fa-users"></i>10 Members</p>
								<hr>
								<p>Responsible for development of ETL routines and shell scripts.</p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> Informatica PowerCenter, Shell, Oracle</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Building a Data Lake as part<br>of the digitalization strategy</p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Finance | <i class="far fa-clock"></i> 5 Month | <i class="fas fa-users"></i> 100 Members</p>
								<hr>
								<p>Responsible for budget tracking, appointment coordination and quality management.</p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> MS Office, SAP R/3</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="font-size: 1.25em;" class="text-dark">Development of an interactive<br>reporting solution</p>
								<hr>
								<p style="color: #868e96;"><i class="far fa-compass"></i> Finance | <i class="far fa-clock"></i> 4 Month | <i class="fas fa-users"></i> 2 Members</p>
								<hr>
								<p>Responsible for requirements analysis and development of the dashboards.</p>
								<p style="color: #868e96;"><i class="fas fa-wrench"></i> Pentaho BA, Bootstrap, JavaScript</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card bg-dark">
		<div class="card-header bg-dark" id="heading-5">
			<h5 class="mb-0">

				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
					<i class="fas fa-volleyball-ball"></i> Interests
				</a>
			</h5>
		</div>
		<div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-45">
			<div class="card-body">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
	  <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
		   <div class="row h-50">
				  <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
							<div class="box">
						 <img src="http://fakeimg.pl/758x370/" class="img-ht img-fluid rounded">
							</div>
					</div>
			</div>

	    <div class="row h-50">
				 <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
				  <div class="box">
					<img src="http://fakeimg.pl/748x177/" class="img-ht img-fluid rounded">
				</div>
				</div>

				<div class="col-md-6 col-sm-6 co-xs-12 gal-item">
				 <div class="box">
					<img src="http://fakeimg.pl/371x370/" class="img-ht img-fluid rounded">
				</div>
				</div>
            </div>
      </div>

           <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
			   <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-25">
				<div class="box">
					<img src="http://fakeimg.pl/748x177/" class="img-ht img-fluid rounded">
				</div>
				</div>

				  <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-75">
				   <div class="box">
					<img src="http://fakeimg.pl/748x177/" class="img-ht img-fluid rounded">
				</div>
				</div>
            </div>

	</div>
	<br/>
</div>
			</div>
		</div>
	</div>
</div>

<!--- Footer -->
<footer class="bg-dark">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-12 footer-social">
				<h3>Stay Connected</h3>
				<hr>
				<a href="https://www.linkedin.com/in/maximilian-post-282354122"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.xing.com/profile/Maximilian_Post3"><i class="fab fa-xing-square"></i></a>
				<a href="https://www.github.com/maxpost"><i class="fab fa-github-square"></i></a>
				<a href="https://www.datacamp.com/profile/maxpost"><i class="fab fa-odnoklassniki-square"></i></a>
			</div>
			<div class="col-md-12 footer-mail">
				<hr>
				<p>max.post.data.analytics@gmail.com</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
