<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Resume</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<img src="{% static 'img/logo.png' %}"  width="75">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'resume' %}">Resume</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'apps' %}">Apps</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!--- Einleitung -->
<div class="container-fluid intro_resume">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 intro_resume_img">
			<img src="{% static 'img/profil.jpg' %}" class="rounded-circle" width="150">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
			<h3>Resume</h3>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
				eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
				voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
				clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
				amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
				nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
				sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
				rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
				dolor sit amet.</p>
		</div>
	</div>
</div>

<!--- Nested -->
<div id="accordion">
  <div class="card">
    <div class="card-header" id="heading-1">
      <h5 class="mb-0">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
          <i class="fas fa-briefcase"></i>  Experience
        </a>
      </h5>
    </div>
    <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
      <div class="card-body">
				<div class="row text-center" style="padding-right:10px;padding-left:10px">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 07/2018 - Heute</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Senior Technical Consultant</p>
								<hr>
								<p>Big Data & Analytics</p>
								<p>NTT DATA Deutschland GmbH</p>
								<p>80807 München</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 10/2016 - 06/2018</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Technical Consultant</p>
								<hr>
								<p>Big Data & Analytics</p>
								<p>NTT DATA Deutschland GmbH</p>
								<p>80807 München</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 09/2013 - 09/2016</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Junior Consultant</p>
								<hr>
								<p>Big Data & Analytics</p>
								<p>it-novum GmbH</p>
								<p>36037 Fulda</p>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
	<div class="card">
		<div class="card-header" id="heading-2">
			<h5 class="mb-0">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
					<i class="fas fa-graduation-cap"></i> Education
				</a>
			</h5>
		</div>
		<div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
			<div class="card-body">
				<div class="row text-center" style="padding-right:10px;padding-left:10px">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 04/2014 - 05/2016</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Master of Science (M.Sc.)</p>
								<hr>
								<p>Wirtschaftsinformatik</p>
								<p>Durchschnittsnote 1,4</p>
								<p>Universität Würzburg</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 10/2010 - 03/2014</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Bachelor of Science (B.Sc.)</p>
								<hr>
								<p>Wirtschaftsinformatik</p>
								<p>Durchschnittsnote 1,9</p>
								<p>Hochschule Fulda</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12 resume_details">
								<p style="color: #868e96;"><i class="far fa-calendar-alt"></i> 08/2007 - 07/2009</p>
								<hr>
								<p style="font-size: 1.25em;" class="text-dark">Fachhochschulreife (FOS)</p>
								<hr>
								<p>Wirtschaftsinformatik</p>
								<p>Durchschnittsnote 2,0</p>
								<p>Handelsschule Herrmann</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="card">
    <div class="card-header" id="heading-3">
      <h5 class="mb-0">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
          <i class="fas fa-sliders-h"></i> Skills
        </a>
      </h5>
    </div>
    <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
      <div class="card-body">
					    <div class="row text-center resume_details" style="margin-right:20px;margin-left:20px">
								<div class="col-xs-12 col-sm-12 col-md-3">
									<div class"row text-center" style="padding-right:10px;padding-left:10px">
										<div class="col-12">
											<p style="font-size: 1.25em;" class="text-dark">Python</p>
											<hr>
					            <div class="progress blue">
					                <span class="progress-left">
					                    <span class="progress-bar"></span>
					                </span>
					                <span class="progress-right">
					                    <span class="progress-bar"></span>
					                </span>
					                <div class="progress-value">90%</div>
					            </div>
					        </div>
								</div>
							</div>
									<div class="col-xs-12 col-sm-12 col-md-3">
										<div class"row text-center" style="padding-right:10px;padding-left:10px">
											<div class="col-12">
											<p style="font-size: 1.25em;" class="text-dark">R</p>
											<hr>
					            <div class="progress yellow">
					                <span class="progress-left">
					                    <span class="progress-bar"></span>
					                </span>
					                <span class="progress-right">
					                    <span class="progress-bar"></span>
					                </span>
					                <div class="progress-value">75%</div>
					            </div>
					        </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3">
								<div class"row text-center" style="padding-right:10px;padding-left:10px">
									<div class="col-12">
										<p style="font-size: 1.25em;" class="text-dark">SQL</p>
										<hr>
									<div class="progress green">
											<span class="progress-left">
													<span class="progress-bar"></span>
											</span>
											<span class="progress-right">
													<span class="progress-bar"></span>
											</span>
											<div class="progress-value">75%</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3">
						<div class"row text-center" style="padding-right:10px;padding-left:10px">
							<div class="col-12">
								<p style="font-size: 1.25em;" class="text-dark">HTML</p>
								<hr>
							<div class="progress pink">
									<span class="progress-left">
											<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
											<span class="progress-bar"></span>
									</span>
									<div class="progress-value">75%</div>
							</div>
					</div>
				</div>
			</div>
					    </div>

			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class"row text-center" style="padding-right:20px;padding-left:20px">
					<div class="col-12 resume_details text-center">
						<div id="SkillBox">
							<p>Test</p>
							<hr>
					  	<div class="SkillBar">
					    	<div id="Skill-HTML">
					      	<span class="Skill-Area ">HTML</span>
					      	<span class="PercentText ">100%</span>
					    	</div>
					  	</div>
							<div class="SkillBar">
								<div id="Skill-CSS">
									<span class="Skill-Area ">CSS/CSS3</span>
									<span class="PercentText ">70%</span>
								</div>
							</div>
						<div class="SkillBar">
							<div id="Skill-jQuery">
								<span class="Skill-Area ">jQuery</span>
								<span class="PercentText ">40%</span>
							</div>
						</div>
						<div class="SkillBar">
							<div id="Skill-JS">
								<span class="Skill-Area ">Javascript</span>
								<span class="PercentText ">65%</span>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class"row text-center" style="padding-right:20px;padding-left:20px">
					<div class="col-12 resume_details text-center">
						<div id="SkillBox">
							<p>Test</p>
							<hr>
							<div class="SkillBar">
								<div id="Skill-XML">
									<span class="Skill-Area ">XML </span>
									<span class="PercentText ">40%</span>
								</div>
							</div>

								<div class="SkillBar">
								<div id="Skill-C">
									<span class="Skill-Area ">C</span>
									<span class="PercentText ">30%</span>
								</div>
							</div>

								<div class="SkillBar">
								<div id="Skill-JAVA">
									<span class="Skill-Area ">JAVA </span>
									<span class="PercentText ">25%</span>
								</div>
							</div>

								<div class="SkillBar">
								<div id="Skill-PHP">
									<span class="Skill-Area ">PHP </span>
									<span class="PercentText ">50%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
    </div>
  </div>
	<div class="card">
		<div class="card-header" id="heading-4">
			<h5 class="mb-0">

				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
					<i class="far fa-folder-open"></i> Projects
				</a>
			</h5>
		</div>
		<div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
			<div class="card-body">


			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="heading-5">
			<h5 class="mb-0">

				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
					<i class="fas fa-volleyball-ball"></i> Interests
				</a>
			</h5>
		</div>
		<div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-45">
			<div class="card-body">
					
			</div>
		</div>
	</div>
</div>

<!--- Footer -->
<footer class="bg-dark">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-12 footer-social">
				<h3>Stay Connected</h3>
				<hr>
				<a href="https://www.linkedin.com/in/maximilian-post-282354122"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.xing.com/profile/Maximilian_Post3"><i class="fab fa-xing-square"></i></a>
				<a href="https://www.github.com/maxpost"><i class="fab fa-github-square"></i></a>
				<a href="https://www.datacamp.com/profile/maxpost"><i class="fab fa-odnoklassniki-square"></i></a>
			</div>
			<div class="col-md-12 footer-mail">
				<hr>
				<p>max.post.data.analytics@gmail.com</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
