@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
}
/*--Navigation Start--*/
.navbar-nav li {
  padding-right: 25px;
}

.nav-link {
  font-size: 1.1em !important;
}
/*--Navigation Ende--*/

/*--Carousel Start--*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 150%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}
/*--Carousel Ende-*/

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
}

/*--Footer Start--*/
footer {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  color: #868e96;
}
.fa-linkedin, .fa-xing-square, .fa-github-square, .fa-odnoklassniki-square{
  color: #f8f9fa;
  font-size: 2em;
  margin: 1rem;
}
.fa-linkedin:hover, .fa-xing-square:hover, .fa-github-square:hover, .fa-odnoklassniki-square:hover {
  color: #868e96;
}
.footer-social{
  color:#f8f9fa;
  margin-bottom: -40px;
}
footer hr{
  width: 260px;
  background-color: #f8f9fa;
}
.footer-mail{
  color:#f8f9fa;
}
/*--Footer Ende--*/

.fa-code, .fa-python, .fa-bold, .fa-css3, .fa-github, .fa-dyalog {
  color: #868e96;
  font-size: 4em;
  margin: 1rem;
}


.mb-0 > a {
  display: block;
  position: relative;
}

.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.intro_resume_img{
  text-align: center;
}

.intro_resume{
  background-image: url("../img/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  color: #f8f9fa;
  padding-top: 10%;
  padding-bottom: 10%;
}

.resume_date{
  text-align: center;
  color: #f8f9fa;
  font-size: 4em;
}

.card-header{
  color: #FFF;
  background-color: #868e96;
}

.collapsed{
  color: #FFF;
}

.resume_details {
  border-style: solid;
  border-width: 1px;
  border-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFF;
}

.card-body {
  background-color: #f8f9fa;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}







/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
